<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default " role="navigation">
<div class="container-fluid ">

    <div class="navbar-header">
        <a class="navbar-brand " href="#">
            S-Movers <span class="glyphicon glyphicon-road"></span>
           
        </a>
        <ul class="nav navbar-right  mr-auto">
            <li class="nav-item active"><a href="/" class="glyphicon glyphicon-home"> Home </a></li> 

            <li class="nav-item" ><a href="/about"> About </a></li>

            <li class="nav-item" ><a href="/users/register">Register</a></li> 

        </ul>
    </div>

</div>
</nav>

