<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">    
        <div class="jumbotron">
            <h1>ABOUT US</h1>
            <p>Smart-overs is a Kenyan provider of innovative electronic solutions for professionals in transportation and logistics industry. This means that we understand your business and we know how to help you achieve success.

                With Smart-Movers you can easily and quickly find offers of freights and vehicles that will increase the efficiency of your business and reduce costs so that you no longer have to drive an empty vehicle or waiting to pick up cargo, which already had to be at the customer.
            </p>
            <h2> WHY CARGOCORE FREIGHT EXCHANGE?</h2>
            <p>
                <li>we offer you simple and understandable use</li>
                <li>we care about the safety of your business</li>
                <li>help and support 24/7</li>
                <li>simple and fast searching in our system</li>
                <li>system can be used anywhere where is an Internet connection</li>
                <li>we try to help you in reducing transportation costs and increase earnings with the same expenditure</li>
            </p>

        </div>
    </div>

    <div class="col-sm-4">        
        <div class="well">
            <h3>Look I'm A Sidebar!</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>