<h1 class="mt-4">Smart-Movers</h1>
<p class="lead mb-3">Welcome to smart movers  <%= name %></p>    
<div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fas fa-tachometer-alt"></i> </i>User Panel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fas fa-th-large"></i> Search freight</a>
        </li>    
        <li class="nav-item">
          <a class="nav-link active" href="#"><i class="fas fa-truck"></i> Search Vehicle</a>
        </li>    
    </ul>
</div>

<div> <a href="/users/logout" class="btn btn-secondary">Logout</a></div>

