<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>

</head>
<body class="container">

<header>
    <% include ./partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h2>S-Movers</h2>
        <p>You have issues with your local transporttion!! Think no more Smart Movers is here to solve all your problems, just create an account with us and you are go to go.</p>
    </div>
</main>

<footer>
    <% include ./partials/footer %>
</footer>

</body>
</html>