<div>
    <h1>Freights</h1>
</div>
<div class="span4 pull-right">
    <a href="" class="welcomeModal btn btn-large btn-success pull-right">Add freight</a>
    <a href="" class="welcomeModal btn btn-large btn-success pull-right hidden-desktop hidden-tablet">Add vehicle</a>
</div>
